/* Estilo Global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Seção Principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

/* Estilo de Títulos */
h1{
    color: #ffffff;
    text-align: center;
}
h2{
    color: #333;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.selected-item button:hover {
    background-color: #d32f2f;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color: #227501;
}


.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color:  #227501;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:  #227501;
}
