body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    width: 100%;
}

#suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

.selected-item {
    background-color: #686868;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.selected-item span {
    margin-right: 8px;
}

.selected-item button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}

.item-input {
    margin-left: auto; 
    padding: 5px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    background-color:#b6b6b6;
}


.item-dropdown {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f0f0f0; /* Cor de fundo do dropdown */
}

